* {
    /* border: 2px solid red; */
    /* font-family: 'Electrolize', sans-serif; */
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url(./assets/backgrounds/matrix.gif);
    background-size: cover;
    margin-bottom: 30px;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.main__header-box{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.main__header{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: lawngreen;
    font-size: 32pt;
    margin: 50px;
}

.main__all-buttons-box {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__player-buttons-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
.main__player-throw-buttons-box-classic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 10%;
    width: 100%;
}
.main__player-throw-buttons-box-modern{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

.main__current-game-mode-box{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3%;
}

.main__current-game-mode{
    font-size: 16pt;
    text-align: center;
    color: lawngreen;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.main__current-game-mode-text{
    font-size: 16pt;
    text-align: center;
    color: lawngreen;
    margin-left: 30px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.main__action-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.main__action-winner-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__action-winner-message {
    color: lawngreen;
    text-align: center;
    font-size: 56pt;
}

.main__action-header{
    text-align: center;
    color: lawngreen;
    width: 100%;
    height: 5%;
}

.main__action-fighters-box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.sidebar__left, .sidebar__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);
    width: 20%;
    height: 100%;
}

.sidebar__left-header-box,
.sidebar__right-header-box {
    display: flex;
    justify-content: center;
}

.sidebar__left-header, 
.sidebar__right-header {
    font-size: 28pt;
    color: lawngreen;
}

.sidebar__left-counter-wins,
.sidebar__right-counter-wins {
    font-size: 32pt;
    text-align: center;
    color: lawngreen;
}

.sidebar__left-counter-number,
.sidebar__right-counter-number {
    margin-top: -5%;
    font-size: 32pt;
    text-align: center;
    color: lawngreen;
}

.sidebar__left-image-box,
.sidebar__right-image-box{
    display: flex;
    height: 250px;
    width: 80%;
}

.sidebar__left-image {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar__right-image{
    display: flex;
    width: 100%;
    height: 100%;
}

button {
    height: 50%;
    width: 30%;
    background-color: lawngreen;
    color: black;
    border-radius: 8px;
    font-size: 14pt;
}

button:hover {
    background-color: rgb(87, 142, 32);
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}