* {
    /* border: 2px solid red; */
    /* font-family: 'Electrolize', sans-serif; */
    font-family: 'Press Start 2P', cursive;
}

.login__full {
    position: absolute;
    width: 100rem;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__header-top,
.login__header-bottom {
    margin: 10%;
    font-size: 44pt;
    color: lawngreen;
}

.login__input-name{
    height: 10%;
    width: 30%;
    background-color: black;
    font-size: 32pt;
    color: lawngreen;
    border-color: lawngreen;
    text-align: center;
}

body {
    background-image: url(./assets/backgrounds/matrix.gif);
    background-size: cover;
    margin-bottom: 30px;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    justify-content: center;
    overflow: hidden;
}

.main {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}

.main__header-box{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.main__header{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: lawngreen;
    font-size: 32pt;
    margin: 40px;
}

.main__current-game-mode-box{
    margin: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3%;
}

.main__current-game-mode{
    font-size: 16pt;
    text-align: center;
    color: lawngreen;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.main__current-game-mode-text{
    font-size: 16pt;
    text-align: center;
    color: lawngreen;
    margin-left: 30px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.main__all-buttons-box {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__player-buttons-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
.main__player-throw-buttons-box-classic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 7%;
    width: 100%;
    /* margin-top: 2%; */
}
.main__player-throw-buttons-box-modern{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 7%;
    width: 100%;
    /* margin-top: 2%; */
}

.main__action-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 40%;
    width: 100%;
    margin: 0;
}

.main__action-winner-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main__action-winner-detailed {
    color: lawngreen;
    text-align: center;
    font-size: 20pt;
    height: 5%;
    margin: 0;
}

.main__action-winner-message {
    color: lawngreen;
    text-align: center;
    font-size: 44pt;
    height: 50%;
    margin-top: 2%;
}

.main__action-header{
    text-align: center;
    color: lawngreen;
    width: 100%;
    height: 5%;
    margin-top: 0;
}

.main__action-fighters-box{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 70%;
    margin: 0;
}

.fighter__paladin:hover,
.fighter__skirt:hover,
.fighter__viking:hover {
    border: 2px solid lawngreen;
    transform: scale(1.1);
    transition: 200ms;
    cursor: pointer;
}

.sidebar__left, .sidebar__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);
    width: 20%;
    height: 100%;
}

.sidebar__left-header-box,
.sidebar__right-header-box {
    display: flex;
    justify-content: center;
}

.sidebar__left-header, 
.sidebar__right-header {
    text-align: center;
    font-size: 28pt;
    color: lawngreen;
}

.sidebar__left-counter-wins,
.sidebar__right-counter-wins {
    font-size: 32pt;
    text-align: center;
    color: lawngreen;
}

.sidebar__left-counter-number,
.sidebar__right-counter-number {
    margin-top: -5%;
    font-size: 32pt;
    text-align: center;
    color: lawngreen;
}

.sidebar__left-image-box,
.sidebar__right-image-box{
    display: flex;
    height: 250px;
    width: 80%;
}

.sidebar__left-image {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar__right-image{
    display: flex;
    width: 100%;
    height: 100%;
}

button {
    height: 80%;
    width: 30%;
    background-color: lawngreen;
    color: black;
    border-radius: 8px;
    font-size: 14pt;
    /* margin: 5px; */
}

button:hover {
    background-color: rgb(87, 142, 32);
    color: white;
    cursor: pointer;
    border: 1px solid lawngreen;
}

.hidden {
    display: none;
}